@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

.hide {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--dark-grey);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
}

strong {
  font-weight: bold;
}

.container {
  max-width: 96rem;
  display: flex;
  flex-direction: column;
}

.main-container {
  margin-top: 2rem;
}

.main-title {
  font-family: 'Intro Cond';
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    background-image: url(../assets/img/streepje.svg);
    background-repeat: no-repeat;
    width: 5.8rem;
    height: .3rem;
    margin-top: .5rem;
  }
}

.title {
  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    background-image: url(../assets/img/streepje.svg);
    background-repeat: no-repeat;
    width: 5.8rem;
    height: .3rem;
    margin-top: .3rem;
  }
}

/* start Header */

.main-header {
  position: fixed;
  background-color: white;
  width: 100vw;
  border-bottom: .3rem solid var(--orange);
  display: flex;
  justify-content: center;
  height: 9rem;
  z-index: 5;
}

.menu-container {
  width: 90vw;
  flex-direction: row;
  justify-content: space-between;
}

.big-menu {
  display: none;
  align-items: flex-end;
}

.menu {
  display: flex;
  font-family: 'Intro Cond', sans-serif;
  font-size: 1.4rem;
}

.menu-item {
  display: flex;
}

.menu-item-link {
  padding: 1rem 1rem .5rem;
  text-decoration: none;
  color: var(--dark-grey);

  &.active {
    background-color: var(--orange);
    color: white;
  }

  &:hover {
    background-color: var(--orange);
    color: white;
  }
}

.logo {
  align-self: center;
  z-index: 7;
}

/* start Hamburger Menu */

.small-menu {
  display: flex;
}

.burger-input + .burger-label {
  align-self: center;
  height: 1.98rem;
  width: 2.5rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & span {
    width: 100%;
    height: .3rem;
    display: block;
    background: var(--orange);
    transition: .5s;
  }
}

.burger-label:hover {
  cursor: pointer;
}

.burger-input:checked + .burger-label {
  justify-content: center;

  & span {
    opacity: 0;

    &:first-child {
      opacity: 1;
      transform: rotate(45deg);
      margin-bottom: -.3rem;
    }

    &:last-child {
      opacity: 1;
      transform: rotate(-45deg);
      margin-top: -.3rem;
    }
  }
}

.burger-menu {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.7rem;
  z-index: 3;
  transition-delay: .5s;
  overflow: hidden;
}

.burger-menu-list {
  text-align: center;
  margin-top: 8.7rem;
  border-top: .3rem solid var(--orange);
}

.burger-menu-list-item {
  opacity: 0;
  transition: .5s;
  transition-delay: 0s;
}

.burger-menu-link {
  text-decoration: none;
  color: var(--orange);
  font-weight: 700;
  font-family: 'Intro Cond', sans-serif;
  display: block;
  padding: 30px;

  &.active, &:hover {
    background-color: var(--orange);
    color: white;
  }
}

.burger-menu-list-item + .burger-menu-list-item {
  border-top: .1rem solid var(--light-grey);
}

.small-menu input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;

  & > ul {

    & > li {
      opacity: 1;
      transition-delay: .5s;
    }
  }
}
/* end Hamburger Menu */
/* end Header */

/* start Home Page */

.home-header {
  background-color: var(--light-grey);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.home-header div {
  width: 100vw;
  max-width: 96rem;
  height: 21.5rem;

  display: grid;
  grid-template: 'header-image header-article' 1fr / 1fr 3fr;
}

.header-article {
  grid-area: header-article;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: right;
}

.header-image {
  grid-area: header-image;
  align-self: flex-end;
  justify-self: flex-end;
  width: 8.5rem;
  margin-right: -2.5rem;
}

.header-title {
  margin-left: -3rem;
  margin-bottom: 1rem;
}

.text-indent {
  margin-left: 4rem;
}

.header-text {
  margin-bottom: 1rem;
}

.btn {
  font-family: 'Intro Cond';
  min-width: 11.3rem;
  color: white;
  padding: 1rem;
  background-color: var(--orange);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button {
  margin-left: 4rem;
}

.ontdek, .beleef, .doe-mee {
  padding: 0 2rem;
}

.small-image {
  margin-bottom: 1rem;
}

.big-image {
  display: none;
}

.home-info-with-stats {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.home-info-with-stats div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 46rem;
}

.secondary {
  background-color: white;
  color: var(--orange);
  border: .2rem solid var(--orange);
  margin-top: 2rem;
}

.btn-no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.bright {
  color: var(--orange);
}

.hashtag {
  margin-top: -.5rem;
}

.last-hashtag {
  margin-bottom: 1.5rem;
}

.hashtag + .hashtag {
  margin-top: .75rem;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 96%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grey-square {
  background-color: var(--light-grey);
  height: 28rem;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 1rem;
  margin-top: -10rem;
  padding: 1.5rem;
}

.beleef {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beleef-main-button {
  margin-top: 3rem;
}

.event-days {
  margin-top: .25rem;
  display: grid;
  grid-template: repeat(3, min-content) / 100%;
  grid-template-areas:

    'zondag'
    'donderdag'
    'vrijdag';
  grid-gap: 3rem;
}

.event-day {
  background-color: var(--light-grey);
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - .5rem);
  max-width: 27.1rem;
  height: fit-content;

  &::after {
    content: '';
    background-image: url(../assets/img/striped-square2.svg);
    background-repeat: no-repeat;
    width: 20.9rem;
    height: 21.7rem;
    position: absolute;
    bottom: -.5rem;
    right: -.5rem;
    z-index: -2;
  }
}

.small-button {
  color: var(--orange);
  background-color: white;
  border: .2rem solid var(--orange);
  margin-top: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .25rem;
}

.event-date {
  color: #dbdbdb;
  font-weight: bold;
}

.actie-title {
  font-size: 2rem;

  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    background-image: url(../assets/img/streepje.svg);
    background-repeat: no-repeat;
    width: 5.8rem;
    height: .3rem;
    margin-top: .25rem;
  }
}

.doe-mee {
  margin-top: 3rem;
}

.switch {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.switch-image {
  display: none;
}

.switch-subtitle {
  font-size: 1.7rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.buttons .btn {
  margin-bottom: .5rem;
  margin-top: 0;
}

.first-button {
  margin-right: 1rem;
}

.instagram-grid {
  width: 100%;
  display: grid;
  grid-template: repeat(3, 29vw) /repeat(3, 29vw);
  grid-template-areas:

    'instagram-image-1 instagram-image-2 instagram-image-3'
    'instagram-image-4 instagram-image-5 instagram-image-6'
    'instagram-image-7 instagram-image-8 instagram-image-9';
  grid-gap: .4rem;
}

.instagram-image-1 {
  grid-area: instagram-image-1;
  width: 100%;
  height: 100%;
}

.instagram-image-2 {
  grid-area: instagram-image-2;
  width: 100%;
  height: 100%;
}

.instagram-image-3 {
  grid-area: instagram-image-3;
  width: 100%;
  height: 100%;
}

.instagram-image-4 {
  grid-area: instagram-image-4;
  width: 100%;
  height: 100%;
}

.instagram-image-5 {
  grid-area: instagram-image-5;
  width: 100%;
  height: 100%;
}

.instagram-image-6 {
  grid-area: instagram-image-6;
  width: 100%;
  height: 100%;
}

.instagram-image-7 {
  grid-area: instagram-image-7;
  width: 100%;
  height: 100%;
}

.instagram-image-8 {
  grid-area: instagram-image-8;
  width: 100%;
  height: 100%;
}

.instagram-image-9 {
  grid-area: instagram-image-9;
  width: 100%;
  height: 100%;
}
/* end Home Page */

/* start Program Page */

.activity-grid {
  display: grid;
  grid-template-rows: 22.4rem;
  grid-template-columns: 29rem;
  grid-gap: 2rem;
  align-self: center;
}

.filter {
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.program-grid-item {
  position: relative;
  width: 29rem;
  height: 22.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.filter-container {
  border: .3rem solid var(--orange);
  justify-content: center;
  font-family: Futura;
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem;
  line-height: 2.5rem;
}

.filter-sentence {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

input, select {
  border: none;
  border-radius: 0;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none; /* stylelint-disable-line */
}

input {
  margin-left: .5rem;
  margin-right: .5rem;

  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.filter-input {
  font-family: Futura;
  font-size: 2rem;
  color: var(--orange-pink);
  border-bottom: .1rem solid #353535;
  width: 17rem;
  padding-left: .5rem;

  &::placeholder {
    color: var(--orange-pink);
  }
}

.input-select {
  width: 17rem;
  position: relative;
  margin-left: .5rem;
  margin-right: 2.5rem;

  &::after {
    content: '';
    background-image: url(../assets/img/arrow-down.svg);
    background-repeat: no-repeat;
    width: .9rem;
    height: .8rem;
    margin-top: 1.2rem;
    margin-right: .5rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.filter-button {
  width: 9.9rem;
  height: 4rem;
  background-color: var(--orange);
  border: none;
  font-family: 'Intro Cond';
  font-weight: bold;
  color: white;

  &:hover {
    cursor: pointer;
  }
}

.remove-filter-button {
  text-decoration: none;
  color: var(--orange);
  font-family: Futura;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.grid-item-link {
  display: block;
  text-decoration: none;
  color: black;

  &:hover {
    cursor: pointer;
  }
}

.grid-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.tags {
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 1rem;
  color: var(--orange);
}

.tag {
  padding: .5rem;
  margin-bottom: .5rem;
  background-color: white;
  font-family: Futura;
  font-weight: bold;
  font-size: 1.2rem;

  & + .tag {
    margin-left: .5rem;
  }
}

.activity-info {
  width: 100%;
  background-color: rgba(249, 249, 249, .95);
  padding: 1rem;
}

h3 {
  font-family: Futura;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  margin-bottom: 1.2rem;
}

.time, .place {
  font-family: Futura;
  font-size: 1.2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.time {

  &::before {
    content: '';
    background-image: url(../assets/img/klok.svg);
    background-repeat: no-repeat;
    width: 1.3rem;
    height: 1.4rem;
    margin-right: .5rem;
    margin-left: .5rem;
  }
}

.place {
  margin-top: .6rem;

  &::before {
    content: '';
    background-image: url(../assets/img/huisje.svg);
    background-repeat: no-repeat;
    width: 1.1rem;
    height: 1.3rem;
    margin-right: .5rem;
    margin-left: .5rem;
  }
}
/* end Program Page */

/* start Detail Page */

.detail-header {
  position: relative;
  width: 100vw;
  height: 43vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.detail-header-image {
  position: absolute;
  width: 100vw;
  height: 43vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.detail-title-container {
  background-color: rgba(230, 110, 97, .9);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.detail-title-container div {
  width: 100%;
  max-width: 96rem;
}

.detail-title {
  font-family: Futura;
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--light-grey);
}

.detail-tags {
  display: none;
  width: 31.54rem;
  align-self: flex-start;
  margin-bottom: 0;
}

.detail-page-tag {
  font-size: 1rem;
}

.detail-grid {
  margin-top: -2rem;
  display: grid;
  grid-template: repeat(4, min-content) / 100%;
  grid-template-areas:
    'nuttige-info'
    'main-info'
    'practical-info';
  grid-gap: 4rem;
}

.other-acitivities {
  grid-area: other-activities;
}

.nuttige-info {
  grid-area: nuttige-info;
  background-color: var(--light-grey);
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  padding: 2rem;
  font-family: Futura, sans-serif;
  grid-template-areas:

    'wanneer wie'
    'waar wie';
  grid-gap: 1.5rem;
}

.wanneer {
  grid-area: wanneer;
}

.waar {
  grid-area: waar;
}

.wie {
  grid-area: wie;
}

.small-main-title {
  font-family: Futura, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    background-image: url(../assets/img/streepje.svg);
    background-repeat: no-repeat;
    width: 5.8rem;
    height: .3rem;
    margin-top: .25rem;
  }
}

.main-info {
  grid-area: main-info;
  padding: 0 2rem;
}

.practical-info {
  grid-area: practical-info;
  padding: 2rem;
  background-color: var(--light-grey);
  display: none;
}

.show {
  display: block;
}

.main-info p + p, .practical-info p + p {
  margin-top: 1rem;
}

.content-subtitle {
  font-family: Futura;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--orange);
  margin-bottom: .5rem;
  margin-top: 2rem;
}

.practical-info ul, .bullet-points {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;

  & li + li {
    margin-top: 1rem;
  }

  & li {
    position: relative;

    &::before {
      content: '';
      background-image: url(../assets/img/bullet-point.svg);
      background-repeat: no-repeat;
      width: .8rem;
      height: .8rem;
      position: absolute;
      top: .4rem;
      left: -1.5rem;
    }
  }
}

.other-activities {
  display: flex;
  flex-direction: column;
}

.other-activities .main-title {
  align-self: center;
}
/* end Detail Page */

/* start Footer */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--orange);
  color: var(--light-brown);

  margin-top: 5rem;
  padding: 2rem;
}

.footer-top-section {
  display: flex;
  flex-direction: column;
}

.footer-bottom-section {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: .1rem solid var(--orange-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.partners {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: .1rem solid var(--orange-pink);
}

.footer-title {
  font-family: Futura;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

address {
  margin-bottom: 1rem;
}

.partner-logos {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1rem;
}

.partner-logo {
  padding: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.media-buttons {
  display: flex;
  justify-content: space-around;
  width: 15rem;
}

.media-button {
  text-decoration: none;
  transition: transform;
  transition-duration: .3s;

  &:hover {
    transform: scale(1.2);
  }
}

.copyright {
  margin-top: 1rem;
  color: var(--orange-pink);
  font-weight: bold;
}

.initiatiefnemer-link {
  text-decoration: none;
  color: var(--orange-pink);
  font-weight: bold;

  &:hover {
    color: var(--light-brown);
  }
}
/* end Footer */
@media only screen and (min-width: 400px) {

  .header-image {
    margin-right: -1.5rem;
    width: 9.5rem;
  }

  .header-title {
    margin-left: -1rem;
  }

  .main-title {
    font-size: 3rem;
  }

  .header-text {
    margin-bottom: 2.5rem;
  }

  .small-image {
    margin-bottom: 2rem;
  }

  .grey-square {
    margin-left: 11rem;
  }
}

@media only screen and (min-width: 500px) {

  .header-article {
    padding-top: 2.5rem;
  }

  .main-title {
    font-size: 3.6rem;
    margin-left: 0;
  }

  .header-image {
    margin-right: -.5rem;
  }

  .header-text {
    margin-bottom: 3.5rem;
    margin-left: 3rem;
    padding-right: 3rem;
  }

  .header-button {
    margin-left: 3rem;
  }

  .detail-title-container {
    padding: 2rem;
  }

  .detail-tags {
    display: flex;
    justify-content: flex-start;
    width: auto;
  }

  .detail-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 610px) {

  .home-header div {
    height: 27.5rem;
    grid-template-columns: 1fr 2fr;
  }

  .header-article {
    padding-top: 5rem;
  }

  .header-image {
    margin-right: 2rem;
    width: 13rem;
  }

  .header-text, .header-button {
    margin-left: 2rem;
  }

  .header-text {
    max-width: 32.7rem;
  }

  .video {
    display: flex;
    align-items: center;
    margin-top: -2rem;
  }

  .beleef {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .grey-square {
    height: 36vw;
    width: 60.5vw;
    justify-content: center;
    margin-top: 0;
    margin-left: -23vw;
    padding-left: calc(23vw + 2rem);
  }

  .embed-container {
    width: 54vw;
  }

  .event-days {
    margin-top: 3rem;
    grid-gap: 3vw;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(4, 15rem);
  }

  .zondag {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .donderdag {
    grid-column: 2;
    grid-row: 2 / span 2;
  }

  .vrijdag {
    grid-column: 1;
    grid-row: 3 / span 2;
  }

  .beleef-main-button {
    margin-top: 4rem;
  }

  .switch {
    display: flex;
    align-items: center;
  }

  .switch-image {
    display: block;
    width: 35vw;
    max-width: 26.1rem;
    margin-right: 2rem;
  }

  .instagram-grid {
    grid-template: repeat(3, 18vw) / repeat(5, 18vw);
    grid-template-areas:

      'instagram-image-1 instagram-image-1 instagram-image-2 instagram-image-3 instagram-image-4'
      'instagram-image-1 instagram-image-1 instagram-image-5 instagram-image-6 instagram-image-6'
      'instagram-image-7 instagram-image-8 instagram-image-9 instagram-image-6 instagram-image-6';
  }

  .activity-grid {
    grid-template-rows: 22.4rem;
    grid-template-columns: repeat(2, 29rem);
  }

  .small-image {
    display: none;
  }

  .big-image {
    display: block;
    width: 25rem;
    margin-top: -5rem;
  }

  .home-info-with-stats {
    flex-direction: row;
    justify-content: space-between;
    max-width: 72rem;
  }

  .home-info-with-stats div {
    max-width: 26rem;
  }

  .main-container {
    margin-top: 4rem;
  }

  .detail-grid {
    margin-top: -4rem;
  }
}

@media only screen and (min-width: 678px) {

  .beleef, .ontdek, .doe-mee {
    padding: 0 4rem;
  }

  .main-title {
    margin-left: -2rem;
  }

  .big-image {
    width: 35vw;
    max-width: 30rem;
  }

  .embed-container {
    width: 47.4vw;
    max-width: 50.5rem;
  }

  .grey-square {
    height: 31vw;
    width: 61vw;
    max-height: 31.7rem;
    max-width: 62.5rem;
  }

  .switch-subtitle {
    font-size: 2rem;
  }

  .last-hashtag {
    margin-bottom: 2.5rem;
  }

  .event-days {
    grid-gap: 5vw;
  }

  .instagram-grid {
    grid-template: repeat(3, 16.5vw) / repeat(5, 16.5vw);
  }

  .home-header div {
    height: 44vw;
    max-height: 42.2rem;
    padding-top: 2rem;
  }

  .header-article {
    padding-top: 0;
    justify-content: center;
  }

  .header-title {
    margin-left: 0;
  }

  .header-image {
    width: 22vw;
    max-width: 21.1rem;
  }

  .header-text {
    margin-bottom: 7vw;
  }

  .btn {
    padding-top: 1.5rem;
    padding-bottom: 1.1rem;
  }

  .small-button {
    padding-top: .5rem;
    padding-bottom: .25rem;
  }

  footer {
    padding: 2rem 4rem;
  }

  .footer-top-section {
    flex-direction: row;
  }

  .footer-section {
    flex: 1;
  }

  .initiatiefnemer {
    margin-right: 3rem;
  }

  .partners {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }

  .footer-bottom-section {
    border-top: none;
  }

  .main-info, .other-activities {
    padding: 0 4rem;
  }

  .detail-grid {
    margin-top: -2rem;
    grid-gap: 0;
    grid-template: min-content 1fr min-content / 60vw 1fr;
    width: 100vw;
    max-width: 96rem;
  }

  .main-info {
    grid-row: 1 / span 2;
    grid-column: 1;
    padding: 2rem 4rem;
  }

  .nuttige-info {
    grid-row: 1;
    grid-column: 2;
    grid-template: repeat(3, max-content) / none;
    grid-template-areas:

      'wanneer'
      'waar'
      'wie';
    height: fit-content;
  }

  .practical-info {
    grid-row: 2;
    grid-column: 2;
    height: fit-content;
    padding: 0 2rem 2rem;
  }

  .other-activities {
    grid-row: 3;
    grid-column: 1 / span 2;
    width: 100vw;
    max-width: 96rem;
    margin-top: 4rem;
  }

  .other-activities .activity-grid {
    margin-top: 1rem;
  }

  .detail-page-tag {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 746px) {

  .big-menu {
    display: flex;
  }

  .small-menu {
    display: none;
  }

  .home-header div {
    grid-template-columns: 2fr 3fr;
  }

  .switch {
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 960px) {

  .detail-grid {
    grid-template-columns: 57.6rem 1fr;
  }

  .detail-title-container {
    padding: 0;
  }

  .detail-title-container div {
    padding: 2rem;
  }
}

@media only screen and (min-width: 1000px) {

  .activity-grid {
    grid-template-rows: 22.4rem;
    grid-template-columns: repeat(3, 29rem);
  }

  .instagram-grid {
    grid-template: repeat(3, 16.9rem) / repeat(5, 16.9rem);
  }

  .event-days {
    grid-gap: 2rem;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, 15rem);
  }

  .zondag {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .donderdag {
    grid-column: 2;
    grid-row: 2 / span 2;
  }

  .vrijdag {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  footer .container {
    padding: 0 4rem;
  }
}
